* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #293232;
}

.sonar__signal-first {
    width: 24rem;
    height: 24rem;
    border: 0.5px solid rgba(107, 105, 105, 0.7);
    border-radius: 50%;
    display: grid;
    place-content: center;
    overflow: hidden;

}

.sonar__signal-second {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: 0.5px solid rgba(107, 105, 105, 0.7);  
}

.sonar__signal-third {
    width: 8rem;
    height: 8rem;
    border: 0.5px solid rgba(107, 105, 105, 0.7);
    border-radius: 50%;
    display: grid;
    position: relative;
    place-content: center;
    justify-content: center;
}

.sonar__point {
    width: 2rem;
    height: 2rem;

    display: grid;
    align-self: center;
    justify-self: center;
    position: relative;
    border-radius: 50%;
    background-color: blueviolet;
    animation: rotate 1s linear infinite;
    /*
    */
}

.sonar__aspa {
    justify-self: center;
    align-self: center;
    position: absolute;
    display: block;
    height: 12rem;
    width: 15rem;
    transform: translateY(-6rem);
    background-position: 100% 75%;
    background-image: linear-gradient(to right, rgba(64, 66, 44, 0), rgba(64, 66, 44, 0.1) , rgb(69, 238, 54));
    clip-path: polygon(0% 0%, 100% 0%,  50% 100%);
}


.sonar__pount-up {
    height: 2rem;
    width: 2rem;
    background-color: #f1f1f1;
    position: absolute;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
}

.point {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #ffffff;
    border-radius: 50%;
}

.point_1 {
    position: absolute;
    transform: translate(1.2rem, 12rem);
    animation: toColorBlue 3s ease-in-out infinite;
}

.point_2  {
    position: absolute;
    transform: translate(18rem, 11rem);
    animation: toColorBlue 2s ease-in-out infinite;
}

.point_3  {
    position: absolute;
    transform: translate(15rem, 2rem);
    animation: toColorRed 0.9s ease-in-out infinite;
}

.point_4  {
    position: absolute;
    transform: translate(120px, 130px);
    animation: toColorGreen 2.5s ease-in-out infinite;
}

.point_5  {
    position: absolute;
    transform: translate(18rem, 20rem);
    animation: toColorRed 1.7s ease-in-out infinite;
}

.point_6  {
    position: absolute;
    transform: translate(9rem, 17rem);
    animation: toColorGreen 1s ease-in-out infinite;
}


@keyframes changeColor {
    0% {
        background-color: rgb(241, 113, 113);
        filter: drop-shadow(0px 30px 9px rgb(241, 113, 113));
    }
    50% {
        background-color: rgb(21, 221, 21);
        filter: drop-shadow(0px 30px 9px rgb(21, 221, 21))3

    }
    100% {
        background-color: rgb(100, 100, 223);
        filter: drop-shadow(0px 30px 9px rgb(100, 100, 223));
    }
}

@keyframes toColorGreen {
    0%, 100%{
        background-color: transparent;
        filter: drop-shadow(-2px 2px 10px #293232);
        box-shadow: 2px 2px 20px transparent;
    }
    50% {
        background-color: rgb(255, 251, 0);
        filter: drop-shadow(-2px 2px 10px rgb(255, 251, 0));
        box-shadow: 2px 2px 30px rgb(255, 251, 0);
    }
}

@keyframes toColorRed {
    0%, 100%{
        background-color: transparent;
        filter: drop-shadow(-2px 2px 10px #293232);
        box-shadow: 2px 2px 20px transparent;
    }
    50% {
        background-color: rgb(230, 47, 47);
        filter: drop-shadow(-2px 2px 10px rgb(230, 47, 47));
        box-shadow: 2px 2px 30px rgb(230, 47, 47);
    }
}

@keyframes toColorBlue {
    0%, 100%{
        background-color: transparent;
        filter: drop-shadow(-2px 2px 10px #293232);
        box-shadow: 2px 2px 20px transparent;
    }
    50% {
        background-color: rgb(0, 247, 255);
        filter: drop-shadow(-2px 2px 10px rgb(0, 247, 255));
        box-shadow: 2px 2px 30px rgb(0, 247, 255);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
     to {
        transform: rotate(360deg);
     }
}